---
layout: base
title: Home
description: "An open data source of Scottish Government spending data"
---

<script id="spend-data" type="application/json">
  {{ collections.spendsOver500_monthly | jsonify | safe }}
</script>

<h1>Welcome to Open Data Scotland GovSpend</h1>
<p class="lead">An open data source of Scottish Government spending data</p>

<div id="chart-spend-by-month" style="width:100%; height:500px;"></div>

<h2>Spends over £500 per month</h2>

<ul>
  {% for spendData in collections.spendsOver500 %}
    <li>
      <a href="spends/{{spendData.title}}">{{spendData.displayTitle}} - {{spendData.data.length}} entries</a>
    </li>
  {% endfor %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    charts.spendByMonth("spend-data", "chart-spend-by-month");
  });
</script>