---
pagination:
    data: collections.spendsOver500
    size: 1
    alias: spends
    layout: base
permalink: "spends/{{ spends.title | slugify }}/"
layout: base
eleventyComputed:
    title: "Spends over £500 - {{ spends.displayTitle }}"
    description: "Transactions with spend over £500 for {{spends.displayTitle}}"
---

<script id="spend-data" type="application/json">
    {{spends.data | jsonify | safe }}
</script>

<a href="/">Back to home</a>

<h1>{{title}}</h1>

<div class="row">
    <div class="col-lg-6 col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-center bg-light">Spend profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="bg-light">Total spend</th>
                    <td>{{spends.data | sum("Transaction Amount") | toCurrency }}</td>
                </tr>
                <tr>
                    <th class="bg-light">Transaction count</th>
                    <td>{{spends.data | length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="chart-spend-by-directorate" style="width:100%; height:600px;"></div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Directorate</th>
                <th>Merchant name</th>
                <th>Merchant category name</th>
                <th>Transaction date</th>
                <th>Transaction amount</th>
                <th>Expense description</th>
            </tr>
        </thead>
        <tbody>
            {% for row in spends.data %}
                <tr>
                    <td>{{row["Directorate"]}}</td>
                    <td>{{row["Merchant Name"]}}</td>
                    <td>{{row["Merchant Category Name"]}}</td>
                    <td>{{row["Transaction Date"]}}</td>
                    <td>{{row["Transaction Amount"] | fixed }}</td>
                    <td>{{row["Expense Description"]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            charts.spendByDirectorate("spend-data", "chart-spend-by-directorate");
        });
    </script>